body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-employees {
  display: flex;
  justify-content: flex-start;
  gap: 20;
  width: 100%;
  flex-wrap: wrap;
}

.card-top-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 20px;
}

.card-row {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 15px;
}

.card-employee-name {
  font: "normal normal 900 20px/24px Lato";
  font-weight: bold;
}

.card {
  width: 30%;
  height: 300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 10px #d2e4ea;
  border-radius: 20px;
  opacity: 1;
  margin: 20px;
}

.card-button {
  width: 210px;
  height: 35px;
  border-radius: 0px 0px 0px 20px;
  opacity: 1;
  text-transform: none !important;
}

.card-button.card-button-edit {
  background: #081551 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 0px 20px;
}

.card-button.card-button-delete {
  background: #c61635 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 20px 0px;
}

.card-actions {
  display: flex;
  margin-top: -15px;
  padding: 0;
  width: 100%;
}

.employees-page-top {
  margin-top: 10vh;
  margin-bottom: 3vh;
  display: flex;
  gap: 10px;
  margin-left: 25px;
}

.modal-button {
  background: #081551 0% 0% no-repeat padding-box !important;
  border-radius: 20px !important;
}

.page-login {
  background-color: #081551;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label {
  color: white;
  margin-top: 25px;
  margin-bottom: 10px;
}

.login-logo {
  margin-top: 125px;
}

button.login-button {
  margin-top: 80px;
  width: 160px;
  height: 50px;
  background: #00b9eb 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
  text-transform: none;
  font: normal normal 900 18px/22px Lato;
}

.modal-delete-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

button.modal-delete-button {
  width: 100px;
}
@media only screen and (width < 1366px) {
  .card {
    width: 25%;
    height: 200px;
  }
}
